@media only screen and (max-width: 1023px) {
    .mobile {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .photos-container {
    display: flex;
    gap: 1rem;
    margin: auto 1 rem;
    }
    #photos-section .photos-container > div {
    width: 24%;   
    height: 20vw;
    }
    #photos-section .photos-container img {
        width: 100%;    
        height: 100%;
    }

    #reason-section .reason-container {
        display: flex;
        align-items: center;
    }
    
    #reason-section .reason-container figure {
        margin-left: auto;
        margin-right: 20rem;
        text-align: center;
    }
    
    #reason-section .reason-container img {
        height: 30rem;
    }
    
    .advantage-container {
        display: block;
        margin-left: 30%;
    }

    .advantage-container > li {
        margin-top: 10px;
        color: #884A39;
    }
    
}

@media only screen and (max-width: 768px) {

    .advantage-container {
        color: #884A39;
        display: flex;
        justify-content: space-evenly;
    }
}

body {
    margin: 0;
    font-family: "Open-sans", sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    color: #884A39;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    color: #884A39;
    margin: 2rem auto;
}

fieldset {
    margin: 1.5rem;
    border-color: #884A39;
}

fieldset > div {
    padding-top: 5px;
}

nav {
    background-color: #884A39;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F9E0BB;
    height: 4rem;
}

nav > span> b {
    color: #F9E0BB;
    padding-left: 10px;
}

nav > ul {
    margin: auto 2.5rem auto auto;
}

nav > ul > li > a {
    color:#F9E0BB;
}

nav > span {
    display: flex;
    align-items: center;
    margin-left: 0.5rem; 
}   

nav > ul > li {
    display: inline-block;
    margin-right: 10px;
}

#header {
    padding: 12rem 0px 8rem 0px;
    background-color: #F9E0BB;   
}

.main-desc {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #884A39;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#form-section {
    background-color: #F9E0BB;
    color: #884A39;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

#textarea {
    padding-top: 1rem;
}

button[type="submit"] {
    border: 2px solid #884A39;
    width: 90%;
    color: #884A39;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 30px;
    padding: 7px;
}

input[type="text"], input[type="email"], textarea {
    width: 95%;
    padding: 5px;
    margin: 5px;
}

#photos-section .photos-container img {
    width: 97%;    
    height: 100%;
    margin: 10px;
}
